<p><a href="https://bitbucket.org/inkytonik/kiama">Kiama</a> is a Scala library for language processing including attribute grammars, term rewriting, abstract state machines and pretty printing.</p>

<p>This is a maintenance release that only updates the library dependencies. It is feature identical to 2.2.0.</p>

<h3>Other</h3>

<ul>
<li>Move to Scala 2.12.8</li>
<li>Update libraries to Guava 27.1-jre, Scallop 3.2.0, ScalaCheck 1.14.0, ScalaTest 3.0.7</li>
</ul>
